---
import { PUBLIC_BASE_URL } from 'astro:env/client';
import Layout from '../layouts/Layout.astro';
import "../styles/eurl.css";
---
<Layout>
<section id="intro" class="prose prose-sm !max-w-none -mt-[1em] border-b-1 mb-6">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div class="col-span-2">
            <!-- <h2>簡介</h2> -->
            <p class="xl:inline">本站提供URL直連網址，可讓你在設計網站時，在已知尺寸的情況下，可快速插入預留圖可以幫助您排版。同時也新增邊緣背景設計的功能，方便用於製作螢幕截圖示意圖、簡報圖美化用途。</p>
            <p class="xl:inline xl:pl-[1em]">更詳盡的說明，請看 ➤ <a href="/use">使用說明</a></p>
            <h3>常用範例</h3>
            <pre class="overflow-x-auto">&lt;img src=&quot;{PUBLIC_BASE_URL}/300x200.svg&quot;&gt; &lt;!-- &#x4E00;&#x822C;&#x9810;&#x7559;&#x5716; --&gt;
&lt;img src=&quot;{PUBLIC_BASE_URL}/400x200?text=&#x1F5BC;&#xFE0F;&#x9810;&#x7559;&#x5716;&#x1F609;&amp;filetype=png&quot;&gt; &lt;!-- &#x81EA;&#x8A02;&#x6587;&#x6848;&#x9810;&#x7559;&#x5716; --&gt;
&lt;img src=&quot;{PUBLIC_BASE_URL}/400x200/ff0000/FFF/?text=I am red.&quot;&gt; &lt;!-- &#x81EA;&#x8A02;&#x80CC;&#x666F;&#x8272;&#x8207;&#x6587;&#x5B57;&#x984F;&#x8272;&#x7684;&#x9810;&#x7559;&#x5716; --&gt;
&lt;img src=&quot;{PUBLIC_BASE_URL}/300x200/bg/5/10/ph.svg&quot;&gt; &lt;!-- &#x5E36;&#x6709;&#x5E36;&#x6709;&#x9670;&#x5F71;&#x7684;&#x900F;&#x660E;&#x908A;&#x7DE3;&#x7684;&#x9810;&#x7559;&#x5716; --&gt;
&lt;img src=&quot;{PUBLIC_BASE_URL}/300x200/bg/5/10/4/tpl(drool)/ph.svg&quot;&gt; &lt;!--&#x5E36;&#x6709;&#x5E36;&#x6709;&#x5713;&#x89D2;&#x9670;&#x5F71;&#x7684;&#x5716;&#x6848;&#x908A;&#x7DE3;&#x7684;&#x9810;&#x7559;&#x5716;--&gt;</pre>
        </div>
        <div class="prose-img:m-2 hidden lg:flex">
            <img class="" alt="fakeimg.pl" src="/440x250/bg/5/3/ph/282828/eae0d0">
        </div>
    </div>
</section>

<article class="grid">
    <header class="prose">
        <h2 class="">製作佔位圖 （施工中）</h2>
    </header>

    <!-- 施工中提示 -->
    <div role="alert" class="mt-4 alert alert-warning">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
        <span>本頁施工中，請直接看 ➤ <a href="/use">使用說明</a></span>
    </div>

    <div class="eurl my-6 p-2 rounded-xl w-full whitespace-nowrap bg-neutral text-neutral-content">
      <span class="eurl-base"><span class="eurl-group">{PUBLIC_BASE_URL}</span></span>
      <span class="eurl-content">
          <span class="eurl-group hover:bg-indigo-600/30 inline">/<span class="eurl-part" data-url-ptitle="Canvas Size">300x200</span></span>
          <span class="eurl-group hover:bg-cyan-600/30">/bg/<span class="eurl-part" data-url-ptitle="Padding">2x3</span>/<span class="eurl-part" data-url-ptitle="Shadow">5</span>/<span class="eurl-part" data-url-ptitle="Radius">3</span>/<span class="eurl-part" data-url-ptitle="Color">A5D0E5</span></span>
          <span class="eurl-group hover:bg-yellow-600/30">/ph/<span class="eurl-part" data-url-ptitle="bgcolor">ff0000,128</span>/<span class="eurl-part" data-url-ptitle="fgcolor">000,255</span>/?<span class="eurl-part">text=Hello+World</span></span>
          <span class="eurl-group hover:bg-green-600/30">&<span class="eurl-part">filetype=svg</span></span>
      </span>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-12 gap-4">
        <div class="lg:col-span-5">

            <div class="grid gap-4">

                <section class="card bg-indigo-600/30 shadow-sm">
                    <div class="card-body">
                        <header class="md:flex items-center justify-between">
                            <h2 class="card-title md:flex mb-0">畫布大小</h2>
                            <div>
                                <p class="label">Optional</p>
                                <input type="checkbox" checked="checked" class="toggle" />
                            </div>
                        </header>
    
                        <fieldset class="fieldset">
                            <!-- <legend class="fieldset-legend">What is your name?</legend> -->
                            <label class="input w-full">
                                <input type="text" placeholder="300" /><span class="label">px</span>
                                x
                                <input type="text" placeholder="300" /><span class="label">px</span>
                            </label>
                        </fieldset>
                    </div>
                </section>
    
                <section class="card bg-cyan-600/30 shadow-sm">
                    <div class="card-body">
                        <header class="md:flex items-center justify-between">
                            <h2 class="card-title md:flex mb-0">邊緣背景</h2>
                            <div>
                                <p class="label">Optional</p>
                                <input type="checkbox" checked="checked" class="toggle" />
                            </div>
                        </header>

                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Padding</legend>
                            <label class="input w-full">
                                <input type="text" placeholder="300" /><span class="label">px</span>
                                x
                                <input type="text" placeholder="300" /><span class="label">px</span>
                            </label>
                        </fieldset>

                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Shadow</legend>
                            <input type="number" class="input w-full" placeholder="0" />
                            <p class="label">Optional</p>
                        </fieldset>

                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Radius</legend>
                            <input type="number" class="input w-full" placeholder="0" />
                            <p class="label">Optional</p>
                        </fieldset>

                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Color</legend>
                            <input type="text" class="input w-full" placeholder="0" />
                            <p class="label">Optional</p>
                        </fieldset>
                    </div>
                </section>
    
                <section class="card bg-yellow-600/30 shadow-sm">
                    <div class="p-3">
                        
                        <!-- name of each tab group should be unique -->
                        <div class="tabs tabs-lift">
                            <header class="items-center justify-between mr-4 ml-2 mt-2">
                                <h2 class="card-title mb-0">主內容</h2>
                            </header>

                            <label class="tab">
                                <input type="radio" name="my_tabs_4" checked="checked" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2"><path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" /></svg>
                                placeholder
                            </label>
                            <div class="tab-content bg-base-100/50 border-base-300 p-3">
                                <fieldset class="fieldset">
                                    <legend class="fieldset-legend">Background Color</legend>
                                    <input type="text" class="input w-full" placeholder="0" />
                                    <p class="label">Optional</p>
                                </fieldset>

                                <fieldset class="fieldset">
                                    <legend class="fieldset-legend">Foreground Color</legend>
                                    <input type="text" class="input w-full" placeholder="0" />
                                    <p class="label">Optional</p>
                                </fieldset>

                                <fieldset class="fieldset">
                                    <legend class="fieldset-legend">Text</legend>
                                    <input type="text" class="input w-full" placeholder="0" />
                                    <p class="label">Optional</p>
                                </fieldset>

                                <fieldset class="fieldset">
                                    <legend class="fieldset-legend">Font</legend>
                                    <select class="select w-full">
                                        <option disabled selected>Pick a browser</option>
                                        <option>Chrome</option>
                                        <option>FireFox</option>
                                        <option>Safari</option>
                                    </select>
                                <span class="label">Optional</span>
                                </fieldset>

                            </div>

                            <label class="tab">
                                <input type="radio" name="my_tabs_4" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2"><path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 0 1-6.364 0M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" /></svg>
                                Code
                            </label>
                            <div class="tab-content bg-base-100/50 border-base-300 p-6">
                                Tab content 2
                            </div>

                            <label class="tab">
                                <input type="radio" name="my_tabs_4" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 me-2"><path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" /></svg>
                                Image
                            </label>
                            <div class="tab-content bg-base-100/50 border-base-300 p-6">
                                Tab content 3
                            </div>
                        </div>

                    </div>
                </section>


                <section class="card bg-green-600/30 shadow-sm">
                    <div class="card-body">
                        <header class="md:flex items-center justify-between">
                            <h2 class="card-title md:flex mb-0">額外設定</h2>
                        </header>

                        <fieldset class="fieldset">
                            <legend class="fieldset-legend">Filetype</legend>
                            <div class="join">
                                <input class="join-item btn" type="radio" name="" aria-label="預設" />
                                <input class="join-item btn" type="radio" name="svg" aria-label=".svg" />
                                <input class="join-item btn" type="radio" name="png" aria-label=".png" />
                                <input class="join-item btn" type="radio" name="ico" aria-label=".ico" />
                            </div>
                            <p class="label">Optional</p>
                        </fieldset>

                    </div>
                </section>
            </div>
        </div>

        <div class="lg:col-span-7">
            
            <div class="mockup-browser border-base-300 border w-full bg-zinc-300">
                <div class="mockup-browser-toolbar">
                    <div class="input">http://localhost:4321/300x200/bg/2x3/5/3/A5D0E5/ph/ff0000,128/000,255/?text=Hello+World &filetype=svg</div>
                    aaa
                </div>
                <div class="grid place-content-center border-t border-base-300 h-80 backgroundImg-grid">
                    <img src="/300x200/bg/2x3/5/3/A5D0E5/ph/ff0000,128/000,255/?text=Hello+World &filetype=svg" />
                </div>
            </div>
        </div>
    </div>

</article>
</Layout>
